<?xml version="1.0"?>
<config>
    <modules>
        <Batman_Clearsale>
            <version>1.0.0</version>
        </Batman_Clearsale>
    </modules>
    <admin>
        <routers>
            <clearsale>
                <use>admin</use>
                <args>
                    <module>Batman_Clearsale</module>
                    <frontName>clearsale</frontName>
                </args>
            </clearsale>
        </routers>
    </admin>
    
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <clearsale>
                                            <title>Batman - Clearsale</title>
                                        </clearsale>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <helpers>
            <clearsale>
                <class>Clearsale_Helper</class>
            </clearsale>
        </helpers>
        <models>
            <clearsale>
                <class>Clearsale_Model</class>
            </clearsale>
        </models>
        <resources>
            <clearsale_setup>
                <setup>
                    <module>Clearsale</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </clearsale_setup>
            <clearsale_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </clearsale_write>
            <clearsale_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </clearsale_read>
        </resources>
    </global>
</config>
